* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    position: relative;
}

body{
    background-image: url("../images/background.jpg");
    color: white;
}

.container {
    margin: 0 auto;
    max-width: 1080px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: black;
}

.imgStyles {
    width: 175px;
    height: 175px;
    border-radius: 25%;
}

#fightBtn {
    margin: 0 auto;
}

#gameSpace {
    display: flex;
    flex-direction: column;
    margin-top: 15%;
}

#flex-item {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#alertDiv {
    padding: 25px;
    text-align: center;
}

#imgsDiv {
 display: flex;
}



#playNow {
    width: 500px;
    height: 250px;
    font-size: 50px;
    margin-top: 25%;
}

.imgWrapperDiv {
    position: relative;
    width: 200px;
}

.textWrapper {
    position: absolute;
    color:  #ffffff;
    text-align: center;
    width: 250px;
    top: 175px;
    left: -35px;
    padding: 10px 0px;
}